/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: "Dosis", sans-serif;
  --font-family-text: "Red Hat Display", sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}
#id28 {
  --idColor: var(--yellow);
}
#id12 {
  --idColor: var(--red);
}
#id16 {
  --idColor: var(--green);
}
#id35 {
  --idColor: var(--lightBlue);
}
#id80 {
  --idColor: var(--darkBlue);
}
#id99 {
  --idColor: var(--purple-dark-1);
}
#id18 {
  --idColor: var(--purple-medium-1);
}
#id10751 {
  --idColor: var(--yellow);
}
#id14 {
  --idColor: var(--red);
}
#id36 {
  --idColor: var(--green);
}
#id27 {
  --idColor: var(--lightBlue);
}
#id10402 {
  --idColor: var(--darkBlue);
}
#id9648 {
  --idColor: var(--purple-dark-1);
}
#id10749 {
  --idColor: var(--purple-medium-1);
}
#id878 {
  --idColor: var(--yellow);
}
#id10770 {
  --idColor: var(--red);
}
#id53 {
  --idColor: var(--green);
}
#id10752 {
  --idColor: var(--lightBlue);
}
#id37 {
  --idColor: var(--darkBlue);
}
html {
  background-color: #eeeaf2;
}
body {
  background-color: var(--purple-light-2);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 12px 12px 0 12px;
  padding: 0;
  border-radius: 16px;
}
h1,
h2 {
  font-size: 32px;
  color: var(--purple-medium-3);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}
h3 {
  color: var(--purple-medium-3);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}
input {
  background-color: var(--purple-light-1);
  color: var(--purple-medium-2);
  border: none;
  font-size: var(--font-weight-text1);
  padding-left: 16px;
}
input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}
button {
  background-color: var(--purple-medium-3);
  border: none;
  border-radius: 10px;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 24px;
  cursor: pointer;
}
/* shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
  padding: 0 100px;
}
.trendingPreview-container,
.categoriesPreview-container,
footer {
  margin-top: 48px;
}
.trendingPreview-header,
.categoriesPreview-title {
  margin-bottom: 24px;
}
.movie-container {
  cursor: pointer;
}
.movie-img {
  border-radius: 8px;
}
.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
/* Header */
.header-container {
  padding-top: 40px;
}
.header-container--long {
  box-shadow: inset 10px 10px rgb(205, 199, 211, 0.4),
    10px 10px rgb(140, 134, 146, 0.4);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35) 19.27%,
      rgba(0, 0, 0, 0) 29.17%
    ),
    url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 835px;
  width: 600px;
  position: fixed;
  top: 0;
  left: calc(50% - 300px);
}
.header-container--categoryView {
  background: linear-gradient(
    180deg,
    rgba(238, 204, 117, 0.5) 0%,
    rgba(238, 204, 117, 0) 72.92%
  );
}
.header-title {
  margin-bottom: 16px;
}
.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-dark-1);
  position: fixed;
  top: 80px;
  left: 350px;
  font-size: 50px;
}
.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}
.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trendingPreview-btn {
  border-radius: 8px;
  height: auto;
  width: auto;
  font-size: var(--font-weight-text1);
  padding: 12px;
}
.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 340px;
  margin: 0px 100px 16px 100px;
}
.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin: 0 4px;
}
.trendingPreview-movieList .movie-container .movie-img {
  height: 320px;
  width: 100%;
}
/* Categories */
.category-container {
  width: 45%;
}
.category-title {
  margin-bottom: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title::before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.genericList-container .movie-container {
  margin: 10px;
  width: 300px;
  height: 450px;
}
.genericList-container .movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Movie Detail */
.movieDetail-container {
  padding: 32px 24px;
  margin: 810px 100px 0 100px;
  z-index: 1;
  position: relative;
  background-color: var(--purple-light-1);
  overflow-x: hidden;
  border-radius: 16px;
}
.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}
.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}
.movieDetail-description {
  margin: 0 0 24px 0;
}
.relatedMovies-container {
  margin-top: 32px;
  height: 262px;
}
.relatedMovies-title {
  margin-bottom: 16px;
}
.relatedMovies-scrollContainer {
  overflow-x: scroll;
  display: flex;
  width: 100%;
}
.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin: 0 4px 0 4px;
}
.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
/* Footer */
footer {
  background-color: var(--purple-medium-2);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 100px 12px 100px;
}
/* Navigation */
.inactive {
  display: none;
}
.link {
  color: #eeeaf2;
}
/* ACA EMPIEZA EL MEDIA ---> */
/* -------> */

/* ACA EMPIEZA EL MEDIA ---> */
/* -------> */
@media (max-width: 800px) {
  html {
    background-color: var(--purple-medium-3);
  }
  body {
    background-color: var(--purple-light-1);
    margin: 4px 0 0 0;
    border-radius: 0;
  }
  h1,
  h2 {
    font-size: 24px;
    color: var(--purple-dark-2);
  }
  h2 {
    font-size: 18px;
    color: var(--purple-dark-1);
    font-weight: var(--font-weight-title2);
  }
  h3 {
    color: var(--purple-dark-2);
  }
  input {
    background-color: var(--purple-light-2);
    font-size: 18px;
  }
  button {
    background-color: var(--purple-dark-1);
    font-size: 14px;
    cursor: pointer;
  }
  /* Shared */
  .header-container,
  .trendingPreview-header,
  .categoriesPreview-container {
    padding: 0 24px;
  }
  .trendingPreview-container,
  .categoriesPreview-container,
  footer {
    margin-top: 48px;
  }
  .header-container--long {
    box-shadow: none;
    height: 580px;
    width: 100%;
    left: 0;
  }
  .header-arrow--white {
    color: var(--purple-light-1);
    top: 30px;
    left: 30px;
  }
  /* Trending */
  .trendingPreview-btn {
    height: 32px;
    width: 72px;
    padding: 1px;
    font-weight: var(--font-weight-text2);
  }
  .trendingPreview-movieList {
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
    margin: 0;
  }
  .trendingPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
  }
  /* Categories */
  .category-title {
    margin-bottom: 8px;
  }
  .category-title::before {
    margin-right: 8px;
    width: 8px;
    height: 8px;
  }
  /* Generic List (search, trending & category) */
  .genericList-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0px;
  }
  .genericList-container .movie-container {
    width: 44.5%;
    height: auto;
  }
  /* Movie Detail */
  .movieDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 520px 0 0 0;
    position: absolute;
  }
  .relatedMovies-container {
    margin-top: 24px;
    height: 216px;
  }
  .relatedMovies-title {
    margin-bottom: 16px;
  }
  .relatedMovies-scrollContainer {
    position: absolute;
    overflow-y: hidden;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
  }
  /* Footer */
  footer {
    margin: 0;
  }
  /* Navigation */
  .inactive {
    display: none;
  }
}
